@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,900,700italic,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


body {
    background: url(../img/blurred.jpg) no-repeat center center fixed !important;
    padding-top: 70px;

}

.navbar-expand-sm {
    height: 70px;
    box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.5);

}
.bg-white {
    background-color: #ffffff !important;
}

#containerBackground {
    background: white;
    width: 100%;
    z-index: -1;
    box-shadow: 0 5px 15px -8px black;
}

#titel {
    font-size: 32px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 70px;
    padding-left: 28px;
    margin-left: 35px;
    color: #0099d9;
}

#logo1 {
    width: 7px;
    height: 18px;
    background: #0099d9;
    position: absolute;
    bottom: 19px;
    margin-left: 20px;
    z-index: 1100;
}

#logo2 {
    width: 7px;
    height: 25px;
    background: #0099d9;
    position: absolute;
    bottom: 19px;
    margin-left: 31px;
    z-index: 1100;
}

#logo3 {
    width: 7px;
    height: 32px;
    background: #0099d9;
    position: absolute;
    bottom: 19px;
    margin-left: 42px;
    z-index: 1100;
}

#titel:hover, #logo1:hover, #logo2:hover, #logo3:hover {
    cursor: pointer;
}


#support {
    font-weight: 300;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    transition: background-color 0.1s ease;
    color: white;
    padding: 1.8em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    clear: both;
}

.submenu {
    position: absolute;
    top: 70px;
    background: #e6e6e6;
    left: 0;
    width: 1180px;
    height: 360px;
    z-index: -1;
    display: none;
    box-shadow: 0 5px 15px -13px black;
    padding: 0;
    font-size: 13px;
    font-style: italic;
}

.menu:first-child {
    margin-left: 290px;
}

/*#content {  padding:645px 10px 40px 10px; width:100%;  }*/
#slider {
    height: 550px;
    width: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    min-width: 1180px; /*box-shadow: 0px 5px 15px -10px black; */
    z-index: 10;
}

#video {
    width: 100%;
    min-height: 550px;
}

.footer-background {
position: absolute;
    width: 100%;
    background-color: #222 !important;
    height: 60px;
    bottom: 0;
    box-shadow: 0 5px 15px -10px black;
    font-family: 'Open Sans', sans-serif;
    clear: both;
}

#phone {
    position: absolute;
    bottom: 5px;
    left: 30px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
    color: white;
    padding: 13px 15px; /*box-shadow: 0px 5px 15px -8px black;*/
    background-image: url("https://compleet.it/v3/img/icons/phone.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}

#email {
    position: absolute;
    bottom: 5px;
    left: 280px;
    width: 170px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
    color: white;
    padding: 13px 15px; /*box-shadow: 0px 5px 15px -8px black;*/
    background-image: url("https://compleet.it/v3/img/icons/mail.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}

#adres {
    position: absolute;
    bottom: 5px;
    right: 30px;
    width: auto;
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
    color: white;
    padding: 13px 15px; /*box-shadow: 0px 5px 15px -8px black;*/
    background-image: url("https://compleet.it/v3/img/icons/location.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}


h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 100;
    margin-top: 150px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

hr {
    background: white !important;
    border-top: 1.3px solid !important;
}

form {
    margin: 0 auto;
}

#support > .country > select {
    margin-top: 12px !important;
    height: 54px !important;
}

input[type=text] {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff !important;
    line-height: 24px;
    width: 100%;
    padding: 14px;
    font-size: 18px;
    font-weight: 100;
    border: 1px solid #bfbfbf;
    outline: none;
    margin-top: 12px;
}

input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    padding: 14px;
    width: 100%;
    background: #0099d9;
    border: none;
    color: white;
    margin-top: 12px;
    cursor: pointer;
}

a .result_button {
    color: #fff !important;
}

p {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 300;
}

.red {
    color: #ff0202;
}

a {
    color: #ffffff;
!important;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
}

a:hover {
    color: #0099d9;
}

.lower {
    text-transform: lowercase;
}

@media (max-width: 768px) {

    h1 {
        margin-top: 50px;
    }
}
